# Preparing Dataset

## Reading DataFrames from multiple files

When data is spread among several files, you usually invoke pandas' read_csv() (or a similar data import function) multiple times to load the data into several DataFrames.

The data files for this example have been derived from a list of Olympic medals awarded between 1896 & 2008 compiled by the Guardian.

The column labels of each DataFrame are NOC, Country, & Total where NOC is a three-letter code for the name of the country and Total is the number of medals of that type won (bronze, silver, or gold).

INSTRUCTIONS

Import pandas as pd.
Read the file 'Bronze.csv' into a DataFrame called bronze.
Read the file 'Silver.csv' into a DataFrame called silver.
Read the file 'Gold.csv' into a DataFrame called gold.
Print the first 5 rows of the DataFrame gold. This has been done for you to see the results.

In [7]:
# import pandas
import pandas as pd

# read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv("Bronze.csv")

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv("Gold.csv")

# Print the first five rows of gold
print(gold.head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

## Reading DataFrames from multiple files in a loop

loading data from multiple files into DataFrames is more efficient in a loop or a list comprehension.

Notice that this approach is not restricted to working with CSV files. That is, even if your data comes in other formats, as long as pandas has a suitable data import function, you can apply a loop or comprehension to generate a list of DataFrames imported from the source files.

Here, you'll continue working with The Guardian's Olympic medal dataset.

INSTRUCTIONS

Create a list of file names called filenames with three strings 'Gold.csv', 'Silver.csv', & 'Bronze.csv'. This has been done for you.
Use a for loop to create another list called dataframes containing the three DataFrames loaded from filenames:
Iterate over filenames.
Read each CSV file in filenames into a DataFrame and append it to dataframes by using pd.read_csv() inside a call to .append().
Print the first 5 rows of the first DataFrame of the list dataframes. This has been done for you, so hit 'Submit Answer' to see the results.

In [13]:
# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
datframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

## Combining DataFrames from multiple data files

In this exercise, you'll combine the three DataFrames from earlier exercises - gold, silver, & bronze - into a single DataFrame called medals. The approach you'll use here is clumsy. you'll see various powerful methods that are frequently used in practice for concatenating or merging DataFrames.

Remember, the column labels of each DataFrame are NOC, Country, and Total, where NOC is a three-letter code for the name of the country and Total is the number of medals of that type won.

INSTRUCTIONS

Construct a copy of the DataFrame gold called medals using the .copy() method.
Create a list called new_labels with entries 'NOC', 'Country', & 'Gold'. This is the same as the column labels from gold with the column label 'Total' replaced by 'Gold'.
Rename the columns of medals by assigning new_labels to medals.columns.
Create new columns 'Silver' and 'Bronze' in medals using silver['Total'] & bronze['Total'].
Print the top 5 rows of the final DataFrame medals. This has been done for you, so hit 'Submit Answer' to see the result!

In [15]:
# Import pandas
import pandas as pd

# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

   NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0

## Sorting DataFrame with the Index & columns

It is often useful to rearrange the sequence of the rows of a DataFrame by sorting. You don't have to implement these yourself; the principal methods for doing this are .sort_index() and .sort_values().

You'll use these methods with a DataFrame of temperature values indexed by month names. You'll sort the rows alphabetically using the Index and numerically using a column. Notice, for this data, the original ordering is probably most useful and intuitive: the purpose here is for you to understand what the sorting methods do.

INSTRUCTIONS

Read 'monthly_max_temp.csv' into a DataFrame called weather1 with 'Month' as the index.
Sort the index of weather1 in alphabetical order using the .sort_index() method and store the result in weather2.
Sort the index of weather1 in reverse alphabetical order by specifying the additional keyword argument ascending=False inside .sort_index().
Use the .sort_values() method to sort weather1 in increasing numerical order according to the values of the column 'Max TemperatureF'.

In [32]:
# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col='month')

# Print the head of weather1
print(weather1.head())

       record_id  day  year  AverageTemperatureFahr  \
month
1         474376    1  1853                     NaN
2         474377    1  1853                     NaN
3         474378    1  1853                     NaN
4         474379    1  1853                     NaN
5         474380    1  1853                     NaN

       AverageTemperatureUncertaintyFahr      City country_id      Country  \
month
1                                    NaN  Auckland        NEW  New Zealand
2                                    NaN  Auckland        NEW  New Zealand
3                                    NaN  Auckland        NEW  New Zealand
4                                    NaN  Auckland        NEW  New Zealand
5                                    NaN  Auckland        NEW  New Zealand

      Latitude Longitude
month
1       36.17S   175.03E
2       36.17S   175.03E
3       36.17S   175.03E
4       36.17S   175.03E
5       36.17S   175.03E

In [33]:
# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()

# Print the head of weather2
print(weather2.head())

       record_id  day  year  AverageTemperatureFahr  \
month
1         474376    1  1853                     NaN
1        5412831    1  1761                 29.3288
1        1346967    1  1843                 75.4772
1        5412843    1  1762                 39.0758
1        5412855    1  1763                 28.8176

       AverageTemperatureUncertaintyFahr      City country_id      Country  \
month
1                                    NaN  Auckland        NEW  New Zealand
1                                41.2880     Odesa        UKR      Ukraine
1                                34.8566    Canoas        BRA       Brazil
1                                37.1462     Odesa        UKR      Ukraine
1                                41.2178     Odesa        UKR      Ukraine

      Latitude Longitude
month
1       36.17S   175.03E
1       45.81N    31.15E
1       29.74S    51.69W
1       45.81N    31.15E
1       45.81N    31.15E

In [34]:
# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)

# Print the head of weather3
print(weather3.head())

       record_id  day  year  AverageTemperatureFahr  \
month
12       5413598    1  1824                 44.6720
12       3503394    1  2008                 68.5814
12       3503310    1  2001                 66.0164
12       1347782    1  1910                 71.3660
12       5700481    1  1843                 40.2512

       AverageTemperatureUncertaintyFahr          City country_id  \
month
12                               39.4412         Odesa        UKR
12                               32.4842  Johannesburg        SOU
12                               32.7416  Johannesburg        SOU
12                               34.1690           NaN        NaN
12                               37.2704         Paris        FRA

            Country Latitude Longitude
month
12          Ukraine   45.81N    31.15E
12     South Africa   26.52S    28.66E
12     South Africa   26.52S    28.66E
12              NaN   29.74S    51.69W
12           France   49.03N     2.45E

In [35]:
# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('AverageTemperatureFahr')

# Print the head of weather4
print(weather4.head())

       record_id  day  year  AverageTemperatureFahr  \
month
2        3819490    1  1929                  2.8562
1        3819645    1  1942                  3.5456
1        3820185    1  1987                  4.5050
1        3819897    1  1963                  4.8344
1        3819057    1  1893                  5.0378

       AverageTemperatureUncertaintyFahr  City country_id  Country Latitude  \
month
2                                33.0872  Kiev        UKR  Ukraine   50.63N
1                                33.7946  Kiev        UKR  Ukraine   50.63N
1                                32.7956  Kiev        UKR  Ukraine   50.63N
1                                33.6092  Kiev        UKR  Ukraine   50.63N
1                                33.0386  Kiev        UKR  Ukraine   50.63N

      Longitude
month
2        31.69E
1        31.69E
1        31.69E
1        31.69E
1        31.69E

## Reindexing DataFrame from a list

Sorting methods are not the only way to change DataFrame Indexes. There is also the .reindex() method.

In this exercise, you'll reindex a DataFrame of quarterly-sampled mean temperature values to contain monthly samples (this is an example of upsampling or increasing the rate of samples, which you may recall from the pandas Foundations course).

The original data has the first month's abbreviation of the quarter (three-month interval) on the Index, namely Apr, Jan, Jul, and Sep. This data has been loaded into a DataFrame called weather1 and has been printed in its entirety in the IPython Shell. Notice it has only four rows (corresponding to the first month of each quarter) and that the rows are not sorted chronologically.

You'll initially use a list of all twelve month abbreviations and subsequently apply the .ffill() method to forward-fill the null entries when upsampling. This list of month abbreviations has been pre-loaded as year.

INSTRUCTIONS

Reorder the rows of weather1 using the .reindex() method with the list year as the argument, which contains the abbreviations for each month.
Reorder the rows of weather1 just as you did above, this time chaining the .ffill() method to replace the null values with the last preceding non-null value.

In [57]:
# Import pandas
import pandas as pd

# Reindex weather1 using the list year: weather2
weather2 = weather1.reset_index()
weather2 = weather2.set_index('year')

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)

      month  record_id  day  AverageTemperatureFahr  \
year
1853      1     474376    1                     NaN
1853      2     474377    1                     NaN
1853      3     474378    1                     NaN
1853      4     474379    1                     NaN
1853      5     474380    1                     NaN
1853      6     474381    1                 51.9062
1853      7     474382    1                 52.3886
1853      8     474383    1                 52.8530
1853      9     474384    1                 52.5776
1853     10     474385    1                 54.8726
1853     11     474386    1                 56.6888
1853     12     474387    1                 59.8460
1854      1     474388    1                 64.5908
1854      2     474389    1                 65.3720
1854      3     474390    1                 64.9688
1854      4     474391    1                 59.9270
1854      5     474392    1                 57.5042
1854      6     474393    1                 54.5180
1854      7     474394    1                 53.1914
1854      8     474395    1                 52.8044
1854      9     474396    1                 53.3912
1854     10     474397    1                 54.7538
1854     11     474398    1                 57.3170
1854     12     474399    1                 60.0296
1855      1     474400    1                 63.3578
1855      2     474401    1                 64.3460
1855      3     474402    1                 63.6584
1855      4     474403    1                 61.5848
1855      5     474404    1                 58.0028
1855      6     474405    1                 54.8420
...     ...        ...  ...                     ...
2011      4    8258701    1                 50.4590
2011      5    8258702    1                 55.7690
2011      6    8258703    1                 63.0032
2011      7    8258704    1                 62.0420
2011      8    8258705    1                 64.8536
2011      9    8258706    1                 59.2196
2011     10    8258707    1                 47.6726
2011     11    8258708    1                 38.6870
2011     12    8258709    1                 36.2732
2012      1    8258710    1                 31.8830
2012      2    8258711    1                 23.2502
2012      3    8258712    1                 41.8460
2012      4    8258713    1                 46.7348
2012      5    8258714    1                 57.8606
2012      6    8258715    1                 60.3392
2012      7    8258716    1                 65.5178
2012      8    8258717    1                 64.9832
2012      9    8258718    1                 57.1946
2012     10    8258719    1                 46.5872
2012     11    8258720    1                 41.6066
2012     12    8258721    1                 29.5070
2013      1    8258722    1                 28.4612
2013      2    8258723    1                 30.5168
2013      3    8258724    1                 29.9480
2013      4    8258725    1                 46.2902
2013      5    8258726    1                 55.0544
2013      6    8258727    1                 61.1672
2013      7    8258728    1                 66.7706
2013      8    8258729    1                 64.5656
2013      9    8258730    1                     NaN

      AverageTemperatureUncertaintyFahr      City country_id      Country  \
year
1853                                NaN  Auckland        NEW  New Zealand
1853                                NaN  Auckland        NEW  New Zealand
1853                                NaN  Auckland        NEW  New Zealand
1853                                NaN  Auckland        NEW  New Zealand
1853                                NaN  Auckland        NEW  New Zealand
1853                            36.9572  Auckland        NEW  New Zealand
1853                            34.5488  Auckland        NEW  New Zealand
1853                            33.5498  Auckland        NEW  New Zealand
1853                            33.6380  Auckland        NEW  New Zealand
1853                            33.9836  Auckland        NEW  New Zealand
1853                            34.2518  Auckland        NEW  New Zealand
1853                            37.5062  Auckland        NEW  New Zealand
1854                            36.2300  Auckland        NEW  New Zealand
1854                            35.6576  Auckland        NEW  New Zealand
1854                            35.3966  Auckland        NEW  New Zealand
1854                            35.2022  Auckland        NEW  New Zealand
1854                            34.5110  Auckland        NEW  New Zealand
1854                            34.7972  Auckland        NEW  New Zealand
1854                            35.0240  Auckland        NEW  New Zealand
1854                            34.3544  Auckland        NEW  New Zealand
1854                            33.6830  Auckland        NEW  New Zealand
1854                            37.4108  Auckland        NEW  New Zealand
1854                            35.0024  Auckland        NEW  New Zealand
1854                            35.9240  Auckland        NEW  New Zealand
1855                            36.0716  Auckland        NEW  New Zealand
1855                            37.1300  Auckland        NEW  New Zealand
1855                            34.3058  Auckland        NEW  New Zealand
1855                            34.7594  Auckland        NEW  New Zealand
1855                            34.1996  Auckland        NEW  New Zealand
1855                            33.7568  Auckland        NEW  New Zealand
...                                 ...       ...        ...          ...
2011                            32.3978   Wroclaw        POL       Poland
2011                            32.4410   Wroclaw        POL       Poland
2011                            32.5886   Wroclaw        POL       Poland
2011                            32.6876   Wroclaw        POL       Poland
2011                            32.5508   Wroclaw        POL       Poland
2011                            32.3654   Wroclaw        POL       Poland
2011                            32.2808   Wroclaw        POL       Poland
2011                            32.5472   Wroclaw        POL       Poland
2011                            32.7236   Wroclaw        POL       Poland
2012                            32.9576   Wroclaw        POL       Poland
2012                            32.4158   Wroclaw        POL       Poland
2012                            32.2520   Wroclaw        POL       Poland
2012                            32.6210   Wroclaw        POL       Poland
2012                            32.6102   Wroclaw        POL       Poland
2012                            32.9306   Wroclaw        POL       Poland
2012                            32.5598   Wroclaw        POL       Poland
2012                            32.6354   Wroclaw        POL       Poland
2012                            32.5094   Wroclaw        POL       Poland
2012                            32.5940   Wroclaw        POL       Poland
2012                            32.7992   Wroclaw        POL       Poland
2012                            32.3132   Wroclaw        POL       Poland
2013                            32.6318   Wroclaw        POL       Poland
2013                            32.9576   Wroclaw        POL       Poland
2013                            32.4536   Wroclaw        POL       Poland
2013                            32.2808   Wroclaw        POL       Poland
2013                            32.4896   Wroclaw        POL       Poland
2013                            32.3330   Wroclaw        POL       Poland
2013                            32.5706   Wroclaw        POL       Poland
2013                            32.4842   Wroclaw        POL       Poland
2013                                NaN   Wroclaw        POL       Poland

     Latitude Longitude
year
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1853   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1854   36.17S   175.03E
1855   36.17S   175.03E
1855   36.17S   175.03E
1855   36.17S   175.03E
1855   36.17S   175.03E
1855   36.17S   175.03E
1855   36.17S   175.03E
...       ...       ...
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2011   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2012   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E
2013   50.63N    16.48E

[48470 rows x 10 columns]

NameError: name 'year' is not defined

## Reindexing using another DataFrame Index

Another common technique is to reindex a DataFrame using the Index of another DataFrame. The DataFrame.reindex() method can accept the Index of a DataFrame or Series as input. You can access the Index of a DataFrame with its .index attribute.

The Baby Names Dataset from data.gov summarizes counts of names (with genders) from births registered in the US since 1881. In this exercise, you will start with two baby-names DataFrames names_1981 and names_1881 loaded for you.

The DataFrames names_1981 and names_1881 both have a MultiIndex with levels name and gender giving unique labels to counts in each row. If you're interested in seeing how the MultiIndexes were set up, names_1981 and names_1881 were read in using the following commands:

In [61]:
names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))

As you can see by looking at their shapes, which have been printed in the IPython Shell, the DataFrame corresponding to 1981 births is much larger, reflecting the greater diversity of names in 1981 as compared to 1881.

Your job here is to use the DataFrame .reindex() and .dropna() methods to make a DataFrame common_names counting names from 1881 that were still popular in 1981.

INSTRUCTIONS

Create a new DataFrame common_names by reindexing names_1981 using the Index of the DataFrame names_1881 of older names.
Print the shape of the new common_names DataFrame. This has been done for you. It should be the same as that of names_1881.
Drop the rows of common_names that have null counts using the .dropna() method. These rows correspond to names that fell out of fashion between 1881 & 1981.
Print the shape of the reassigned common_names DataFrame. This has been done for you, so hit 'Submit Answer' to see the result!

In [70]:
# Import pandas
import pandas as pd

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1981.index)

# Print shape of common_names
print(common_names.shape)

(19455, 1)

In [71]:
# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

(19455, 1)

## Broadcasting in arithmetic formulas

In this exercise, you'll work with weather data pulled from wunderground.com. The DataFrame weather has been pre-loaded along with pandas as pd. It has 365 rows (observed each day of the year 2013 in Pittsburgh, PA) and 22 columns reflecting different weather measurements each day.

You'll subset a collection of columns related to temperature measurements in degrees Fahrenheit, convert them to degrees Celsius, and relabel the columns of the new DataFrame to reflect the change of units.

Remember, ordinary arithmetic operators (like +, -, *, and /) broadcast scalar values to conforming DataFrames when combining scalars & DataFrames in arithmetic expressions. Broadcasting also works with pandas Series and NumPy arrays.

INSTRUCTIONS

Create a new DataFrame temps_f by extracting the columns 'Min TemperatureF', 'Mean TemperatureF', & 'Max TemperatureF' from weather as a new DataFrame temps_f. To do this, pass the relevant columns as a list to weather[].
Create a new DataFrame temps_c from temps_f using the formula (temps_f - 32) * 5/9.
Rename the columns of temps_c to replace 'F' with 'C' using the .str.replace('F', 'C') method on temps_c.columns.
Print the first 5 rows of DataFrame temps_c. This has been done for you, so hit 'Submit Answer' to see the result!

In [72]:
# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather1[['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f - 32) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F', 'C')

# Print first 5 rows of temps_c
print(temps_c.head())

KeyError: "['Min TemperatureF' 'Mean TemperatureF' 'Max TemperatureF'] not in index"

## Computing percentage growth of GDP

Your job in this exercise is to compute the yearly percent-change of US GDP (Gross Domestic Product) since 2008.

The data has been obtained from the Federal Reserve Bank of St. Louis and is available in the file GDP.csv, which contains quarterly data; you will resample it to annual sampling and then compute the annual growth of GDP. For a refresher on resampling, check out the relevant material from pandas Foundations.

INSTRUCTIONS

Read the file 'GDP.csv' into a DataFrame called gdp.
Use parse_dates=True and index_col='DATE'.
Create a DataFrame post2008 by slicing gdp such that it comprises all rows from 2008 onward.
Print the last 8 rows of the slice post2008. This has been done for you. This data has quarterly frequency so the indices are separated by three-month intervals.
Create the DataFrame yearly by resampling the slice post2008 by year. Remember, you need to chain .resample() (using the alias 'A' for annual frequency) with some kind of aggregation; you will use the aggregation method .last() to select the last element when resampling.
Compute the percentage growth of the resampled DataFrame yearly with .pct_change() * 100.

In [76]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('gdp_usa.csv', parse_dates=True, index_col='DATE')
gdp

              VALUE
DATE
1947-01-01    243.1
1947-04-01    246.3
1947-07-01    250.1
1947-10-01    260.3
1948-01-01    266.2
1948-04-01    272.9
1948-07-01    279.5
1948-10-01    280.7
1949-01-01    275.4
1949-04-01    271.7
1949-07-01    273.3
1949-10-01    271.0
1950-01-01    281.2
1950-04-01    290.7
1950-07-01    308.5
1950-10-01    320.3
1951-01-01    336.4
1951-04-01    344.5
1951-07-01    351.8
1951-10-01    356.6
1952-01-01    360.2
1952-04-01    361.4
1952-07-01    368.1
1952-10-01    381.2
1953-01-01    388.5
1953-04-01    392.3
1953-07-01    391.7
1953-10-01    386.5
1954-01-01    385.9
1954-04-01    386.7
...             ...
2009-01-01  14383.9
2009-04-01  14340.4
2009-07-01  14384.1
2009-10-01  14566.5
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4
2011-04-01  15460.9
2011-07-01  15587.1
2011-10-01  15785.3
2012-01-01  15973.9
2012-04-01  16121.9
2012-07-01  16227.9
2012-10-01  16297.3
2013-01-01  16475.4
2013-04-01  16541.4
2013-07-01  16749.3
2013-10-01  16999.9
2014-01-01  17025.2
2014-04-01  17285.6
2014-07-01  17569.4
2014-10-01  17692.2
2015-01-01  17783.6
2015-04-01  17998.3
2015-07-01  18141.9
2015-10-01  18222.8
2016-01-01  18281.6
2016-04-01  18436.5

[278 rows x 1 columns]

In [78]:
# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc['2008':]

# Print the last 8 rows of post2008
print(post2008.tail(8))

              VALUE
DATE
2014-07-01  17569.4
2014-10-01  17692.2
2015-01-01  17783.6
2015-04-01  17998.3
2015-07-01  18141.9
2015-10-01  18222.8
2016-01-01  18281.6
2016-04-01  18436.5

In [80]:
# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

              VALUE
DATE
2008-12-31  14549.9
2009-12-31  14566.5
2010-12-31  15230.2
2011-12-31  15785.3
2012-12-31  16297.3
2013-12-31  16999.9
2014-12-31  17692.2
2015-12-31  18222.8
2016-12-31  18436.5

In [81]:
# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change() * 100

# Print yearly again
print(yearly)

              VALUE    growth
DATE
2008-12-31  14549.9       NaN
2009-12-31  14566.5  0.114090
2010-12-31  15230.2  4.556345
2011-12-31  15785.3  3.644732
2012-12-31  16297.3  3.243524
2013-12-31  16999.9  4.311144
2014-12-31  17692.2  4.072377
2015-12-31  18222.8  2.999062
2016-12-31  18436.5  1.172707

## Converting currency of stocks

In this exercise, stock prices in US Dollars for the S&P 500 in 2015 have been obtained from Yahoo Finance. The files sp500.csv for sp500 and exchange.csv for the exchange rates are both provided to you.

Using the daily exchange rate to Pounds Sterling, your task is to convert both the Open and Close column prices.

INSTRUCTIONS

Read the DataFrames sp500 & exchange from the files 'sp500.csv' & 'exchange.csv' respectively..
Use parse_dates=True and index_col='Date'.
Extract the columns 'Open' & 'Close' from the DataFrame sp500 as a new DataFrame dollars and print the first 5 rows.
Construct a new DataFrame pounds by converting US dollars to British pounds. You'll use the .multiply() method of dollars with exchange['GBP/USD'] and axis='rows'
Print the first 5 rows of the new DataFrame pounds. This has been done for you, so hit 'Submit Answer' to see the results!.

In [83]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('sp500.csv', parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('exchange.csv', parse_dates=True, index_col='Date')

# print the head of 'sp500' and 'exchange'
print(sp500.head())
print(exchange.head())

                   Open         High          Low        Close      Volume  \
Date
2015-01-02  2058.899902  2072.360107  2046.040039  2058.199951  2708700000
2015-01-05  2054.439941  2054.439941  2017.339966  2020.579956  3799120000
2015-01-06  2022.150024  2030.250000  1992.439941  2002.609985  4460110000
2015-01-07  2005.550049  2029.609985  2005.550049  2025.900024  3805480000
2015-01-08  2030.609985  2064.080078  2030.609985  2062.139893  3934010000

              Adj Close
Date
2015-01-02  2058.199951
2015-01-05  2020.579956
2015-01-06  2002.609985
2015-01-07  2025.900024
2015-01-08  2062.139893
            GBP/USD
Date
2015-01-02  0.65101
2015-01-05  0.65644
2015-01-06  0.65896
2015-01-07  0.66344
2015-01-08  0.66151

In [85]:
# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[['Open', 'Close']]

# Print the head of dollars
print(dollars.head())

                   Open        Close
Date
2015-01-02  2058.899902  2058.199951
2015-01-05  2054.439941  2020.579956
2015-01-06  2022.150024  2002.609985
2015-01-07  2005.550049  2025.900024
2015-01-08  2030.609985  2062.139893

In [86]:
# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'],axis='rows')

# Print the head of pounds
print(pounds.head())

                   Open        Close
Date
2015-01-02  1340.364425  1339.908750
2015-01-05  1348.616555  1326.389506
2015-01-06  1332.515980  1319.639876
2015-01-07  1330.562125  1344.063112
2015-01-08  1343.268811  1364.126161