## Appending pandas Series

In this exercise, you'll load sales data from the months January, February, and March into DataFrames. Then, you'll extract Series with the 'Units' column from each and append them together with method chaining using .append().

To check that the stacking worked, you'll print slices from these Series, and finally, you'll add the result to figure out the total units sold in the first quarter.

INSTRUCTIONS

Read the files 'sales-jan-2015.csv', 'sales-feb-2015.csv' and 'sales-mar-2015.csv' into the DataFrames jan, feb, and mar respectively.
Use parse_dates=True and index_col='Date'.
Extract the 'Units' column of jan, feb, and mar to create the Series jan_units, feb_units, and mar_units respectively.
Construct the Series quarter1 by appending feb_units to jan_units and then appending mar_units to the result. Use chained calls to the .append() method to do this.
Verify that quarter1 has the individual Series stacked vertically. To do this:
Print the slice containing rows from jan 27, 2015 to feb 2, 2015.
Print the slice containing rows from feb 26, 2015 to mar 7, 2015.
Compute and print the total number of units sold from the Series quarter1. This has been done for you, so hit 'Submit Answer' to see the result!

In [85]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('sales-jan-2015.csv', parse_dates=True, index_col='Date')

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('sales-feb-2015.csv', parse_dates=True, index_col='Date')

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('sales-mar-2015.csv', parse_dates=True, index_col='Date')

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

In [86]:
# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

# Compute & print total sales in quarter1
print(quarter1.sum())

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 10:11:45    17
2015-03-06 02:03:56    17
Name: Units, dtype: int64
642

## Concatenating pandas Series along row axis

Having learned how to append Series, you'll now learn how to achieve the same result by concatenating Series instead. You'll continue to work with the sales data you've seen previously. This time, the DataFrames jan, feb, and mar have been pre-loaded.

Your job is to use pd.concat() with a list of Series to achieve the same result that you would get by chaining calls to .append().

You may be wondering about the difference between pd.concat() and pandas' .append() method. One way to think of the difference is that .append() is a specific case of a concatenation, while pd.concat() gives you more flexibility, as you'll see in later exercises.

INSTRUCTIONS

Create an empty list called units. This has been done for you.
Use a for loop to iterate over [jan, feb, mar]:
In each iteration of the loop, append the 'Units' column of each DataFrame to units.
Concatenate the Series contained in the list units into a longer Series called quarter1 using pd.concat().
Specify the keyword argument axis='rows' to stack the Series vertically.
Verify that quarter1 has the individual Series stacked vertically by printing slices. This has been done for you, so hit 'Submit Answer' to see the result!

In [87]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis='rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 10:11:45    17
2015-03-06 02:03:56    17
Name: Units, dtype: int64

## Appending DataFrames with ignore_index

In this exercise, you'll use the Baby Names Dataset (from data.gov) again. This time, both DataFrames names_1981 and names_1881 are loaded without specifying an Index column (so the default Indexes for both are RangeIndexes).

You'll use the DataFrame .append() method to make a DataFrame combined_names. To distinguish rows from the original two DataFrames, you'll add a 'year' column to each with the year (1881 or 1981 in this case). In addition, you'll specify ignore_index=True so that the index values are not used along the concatenation axis. The resulting axis will instead be labeled 0, 1, ..., n-1, which is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information.

INSTRUCTIONS

Create a 'year' column in the DataFrames names_1881 and names_1981, with values of 1881 and 1981 respectively. Recall that assigning a scalar value to a DataFrame column broadcasts that value throughout.
Create a new DataFrame called combined_names by appending the rows of names_1981 underneath the rows of names_1881. Specify the keyword argument ignore_index=True to make a new RangeIndex of unique integers for each row.
Print the shapes of all three DataFrames. This has been done for you.
Extract all rows from combined_names that have the name 'Morgan'. To do this, use the .loc[] accessor with an appropriate filter. The relevant column of combined_names here is 'name'.

In [88]:
columns_name = ["Name", "Gender", "Frequency"]
names_1881 = pd.read_csv("names1881.csv", header=None)
names_1981 = pd.read_csv("names1981.csv", header=None)
names_1981.columns = columns_name
names_1881.columns = columns_name

In [89]:
# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=True)

In [90]:
# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

(19455, 4)
(1935, 4)
(21390, 4)

In [91]:
# Print all rows that contain the name 'Morgan'
print(combined_names[combined_names['Name'] == 'Morgan'])

         Name Gender  Frequency  year
1283   Morgan      M         23  1881
2096   Morgan      F       1769  1981
14390  Morgan      M        766  1981

## Concatenating pandas DataFrames along column axis

The function pd.concat() can concatenate DataFrames horizontally as well as vertically (vertical is the default). To make the DataFrames stack horizontally, you have to specify the keyword argument axis=1 or axis='columns'.

In this exercise, you'll use weather data with maximum and mean daily temperatures sampled at different rates (quarterly versus monthly). You'll concatenate the rows of both and see that, where rows are missing in the coarser DataFrame, null values are inserted in the concatenated DataFrame. This corresponds to an outer join (which you will explore in more detail in later exercises).

The files 'quarterly_max_temp.csv' and 'monthly_mean_temp.csv' have been pre-loaded into the DataFrames weather_max and weather_mean respectively, and pandas has been imported as pd.

INSTRUCTIONS
Create a new DataFrame called weather by concatenating the DataFrames weather_max and weather_mean horizontally.
Pass the DataFrames to pd.concat() as a list and specify the keyword argument axis=1 to stack them horizontally.
Print the new DataFrame weather.

In [92]:
# read the weather.csv file
weather = pd.read_csv('weather.csv')
weather = weather[['STATION', 'DATE', 'TAVG', 'TMIN', 'TMAX']]
weather_max = weather['TMAX']
weather_mean = weather['TAVG']

# Concatenate weather_max and weather_mean horizontally: weather
weather = pd.concat([weather_max, weather_mean], axis=1)

# Print weather
print(weather)

      TMAX  TAVG
0       53  44.0
1       44  36.0
2       53  49.0
3       45  42.0
4       43  36.0
5       35  30.0
6       37  33.0
7       34  32.0
8       34  31.0
9       43  37.0
10      38  34.0
11      37  33.0
12      59  46.0
13      62  48.0
14      33  29.0
15      30  27.0
16      29  22.0
17      15  11.0
18      29  16.0
19      29  24.0
20      18  11.0
21      27  13.0
22      28  17.0
23      23  14.0
24      27  21.0
25      29  23.0
26      18  12.0
27      22  12.0
28      36  19.0
29      39  32.0
...    ...   ...
3987    59  44.0
3988    59  51.0
3989    50  43.0
3990    54  42.0
3991    58  41.0
3992    55  42.0
3993    45  43.0
3994    48  40.0
3995    63  51.0
3996    61  49.0
3997    63  52.0
3998    57  52.0
3999    61  49.0
4000    64  60.0
4001    48  45.0
4002    54  45.0
4003    53  50.0
4004    41  37.0
4005    43  35.0
4006    55  41.0
4007    60  55.0
4008    58  53.0
4009    69  61.0
4010    64  57.0
4011    58  52.0
4012    61  51.0
4013    44  40.0
4014    40  33.0
4015    35  30.0
4016    50  39.0

[4017 rows x 2 columns]

## Reading multiple files to build a DataFrame

It is often convenient to build a large DataFrame by parsing many files as DataFrames and concatenating them all at once. You'll do this here with three files, but, in principle, this approach can be used to combine data from dozens or hundreds of files.

Here, you'll work with DataFrames compiled from The Guardian's Olympic medal dataset.

pandas has been imported as pd and two lists have been pre-loaded: An empty list called medals, and medal_types, which contains the strings 'bronze', 'silver', and 'gold'.

INSTRUCTIONS

Iterate over medal_types in the for loop.
Inside the for loop:
Create file_name using string interpolation with the loop variable medal. This has been done for you. The expression "%s_top5.csv" % medal evaluates as a string with the value of medal replacing %s in the format string.
Create the list of column names called columns. This has been done for you.
Read file_name into a DataFrame called medal_df. Specify the keyword arguments header=0, index_col='Country', and names=columns to get the correct row and column Indexes.
Append medal_df to medals using the list .append() method.
Concatenate the list of DataFrames medals horizontally (using axis='columns') to create a single DataFrame called medals. Print it in its entirety.

In [93]:
medal_types = ['Gold', 'Silver', 'Bronze']
medals = []
for medal in medal_types:

    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    
    # Create list of column names: columns
    columns = ['Country', medal]
    
    # Read file_name into a DataFrame: df
    medal_df = pd.read_csv(file_name, header=0, index_col='Country', names=columns)

    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals
medals = pd.concat(medals, axis='columns')

# Print medals
print(medals)

                  Gold  Silver  Bronze
France             NaN   461.0   475.0
Germany          407.0     NaN   454.0
Italy            460.0   394.0     NaN
Soviet Union     838.0   627.0   584.0
United Kingdom   498.0   591.0   505.0
United States   2088.0  1195.0  1052.0

C:\Users\Amrit Kumar Gupta\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

## Concatenating vertically to get MultiIndexed rows

When stacking a sequence of DataFrames vertically, it is sometimes desirable to construct a MultiIndex to indicate the DataFrame from which each row originated. This can be done by specifying the keys parameter in the call to pd.concat(), which generates a hierarchical index with the labels from keys as the outermost index label. So you don't have to rename the columns of each DataFrame as you load it. Instead, only the Index column needs to be specified.

Here, you'll continue working with DataFrames compiled from The Guardian's Olympic medal dataset. Once again, pandas has been imported as pd and two lists have been pre-loaded: An empty list called medals, and medal_types, which contains the strings 'bronze', 'silver', and 'gold'.

INSTRUCTIONS

Within the for loop:
Read file_name into a DataFrame called medal_df. Specify the index to be 'Country'.
Append medal_df to medals.
Concatenate the list of DataFrames medals into a single DataFrame called medals. Be sure to use the keyword argument keys=['bronze', 'silver', 'gold'] to create a vertically stacked DataFrame with a MultiIndex.
Print the new DataFrame medals. This has been done for you, so hit 'Submit Answer' to see the result!

In [95]:
medals = []
for medal in medal_types:

    file_name = "%s_top5.csv" %medal

    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, index_col='Country')
    
    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals: medals
medals = pd.concat(medals, keys=['bronze', 'silver', 'gold'])

# Print medals
print(medals)

                        Total
       Country
bronze United States   2088.0
       Soviet Union     838.0
       United Kingdom   498.0
       Italy            460.0
       Germany          407.0
silver United States   1195.0
       Soviet Union     627.0
       United Kingdom   591.0
       France           461.0
       Italy            394.0
gold   United States   1052.0
       Soviet Union     584.0
       United Kingdom   505.0
       France           475.0
       Germany          454.0

## Slicing MultiIndexed DataFrames

This exercise picks up where the last ended (again using The Guardian's Olympic medal dataset).

You are provided with the MultiIndexed DataFrame as produced at the end of the preceding exercise. Your task is to sort the DataFrame and to use the pd.IndexSlice to extract specific slices. Check out this exercise from Manipulating DataFrames with pandas to refresh your memory on how to deal with MultiIndexed DataFrames.

pandas has been imported for you as pd and the DataFrame medals is already in your namespace.

INSTRUCTIONS

Create a new DataFrame medals_sorted with the entries of medals sorted. Use .sort_index(level=0) to ensure the Index is sorted suitably.
Print the number of bronze medals won by Germany and all of the silver medal data. This has been done for you.
Create an alias for pd.IndexSlice called idx. A slicer pd.IndexSlice is required when slicing on the inner level of a MultiIndex.
Slice all the data on medals won by the United Kingdom. To do this, use the .loc[] accessor with idx[:,'United Kingdom'], :.

In [97]:
# Sort the entries of medals
medals_sorted = medals.sort_index(level=0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:,'United Kingdom'], :])

Total    407.0
Name: (bronze, Germany), dtype: float64
                 Total
Country
France           461.0
Italy            394.0
Soviet Union     627.0
United Kingdom   591.0
United States   1195.0
                       Total
       Country
bronze United Kingdom  498.0
gold   United Kingdom  505.0
silver United Kingdom  591.0

## Concatenating horizontally to get MultiIndexed columns

It is also possible to construct a DataFrame with hierarchically indexed columns. For this exercise, you'll start with pandas imported and a list of three DataFrames called dataframes. All three DataFrames contain 'Company', 'Product', and 'Units' columns with a 'Date' column as the index pertaining to sales transactions during the month of February, 2015. The first DataFrame describes Hardware transactions, the second describes Software transactions, and the third, Service transactions.

Your task is to concatenate the DataFrames horizontally and to create a MultiIndex on the columns. From there, you can summarize the resulting DataFrame and slice some information from it.

INSTRUCTIONS

Construct a new DataFrame february with MultiIndexed columns by concatenating the list dataframes.
Use axis=1 to stack the DataFrames horizontally and the keyword argument keys=['Hardware', 'Software', 'Service'] to construct a hierarchical Index from each DataFrame.
Print summary information from the new DataFrame february using the .info() method. This has been done for you.
Create an alias called idx for pd.IndexSlice.
Extract a slice called slice_2_8 from february (using .loc[] & idx) that comprises rows between Feb. 2, 2015 to Feb. 8, 2015 from columns under 'Company'.
Print the slice_2_8. This has been done for you, so hit 'Submit Answer' to see the sliced data!

In [101]:
february = pd.read_csv("sales-feb-2015.csv")

# Print february.info()
print(february.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
Date       20 non-null object
Company    20 non-null object
Product    20 non-null object
Units      20 non-null int64
dtypes: int64(1), object(3)
memory usage: 720.0+ bytes
None

In [110]:
february.head()

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

february = february.set_index("Date")

You're now going to revisit the sales data you worked with earlier in the chapter. Three DataFrames jan, feb, and mar have been pre-loaded for you. Your task is to aggregate the sum of all sales over the 'Company' column into a single DataFrame. You'll do this by constructing a dictionary of these DataFrames and then concatenating them.

INSTRUCTIONS

Create a list called month_list consisting of the tuples ('january', jan), ('february', feb), and ('march', mar).
Create an empty dictionary called month_dict.
Inside the for loop:
Group month_data by 'Company' and use .sum() to aggregate.
Construct a new DataFrame called sales by concatenating the DataFrames stored in month_dict.
Create an alias for pd.IndexSlice and print all sales by 'Mediacore'. This has been done for you, so hit 'Submit Answer' to see the result!

In [116]:
# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

                          Units
         Company
february Acme Coporation     34
         Hooli               30
         Initech             30
         Mediacore           45
         Streeplex           37
january  Acme Coporation     76
         Hooli               70
         Initech             37
         Mediacore           15
         Streeplex           50
march    Acme Coporation      5
         Hooli               37
         Initech             68
         Mediacore           68
         Streeplex           40

In [118]:
# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

                    Units
         Company
february Mediacore     45
january  Mediacore     15
march    Mediacore     68

## Concatenating DataFrames with inner join

Here, you'll continue working with DataFrames compiled from The Guardian's Olympic medal dataset.

The DataFrames bronze, silver, and gold have been pre-loaded for you.

Your task is to compute an inner join.

INSTRUCTIONS

Construct a list of DataFrames called medal_list with entries bronze, silver, and gold.
Concatenate medal_list horizontally with an inner join to create medals.
Use the keyword argument keys=['bronze', 'silver', 'gold'] to yield suitable hierarchical indexing.
Use axis=1 to get horizontal concatenation.
Use join='inner' to keep only rows that share common index labels.
Print the new DataFrame medals.

In [120]:
gold = pd.read_csv("Gold.csv")
silver = pd.read_csv("Silver.csv")
bronze = pd.read_csv("Bronze.csv")


# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys=['bronze', 'silver', 'gold'], axis=1, join='inner')

# Print medals
print(medals)

    bronze                                silver                         \
       NOC                Country   Total    NOC                Country
0      USA          United States  1052.0    USA          United States
1      URS           Soviet Union   584.0    URS           Soviet Union
2      GBR         United Kingdom   505.0    GBR         United Kingdom
3      FRA                 France   475.0    FRA                 France
4      GER                Germany   454.0    GER                Germany
5      AUS              Australia   413.0    AUS              Australia
6      ITA                  Italy   374.0    ITA                  Italy
7      HUN                Hungary   345.0    HUN                Hungary
8      SWE                 Sweden   325.0    SWE                 Sweden
9      NED            Netherlands   320.0    NED            Netherlands
10     ROU                Romania   282.0    ROU                Romania
11     JPN                  Japan   270.0    JPN                  Japan
12     RUS                 Russia   240.0    RUS                 Russia
13     CAN                 Canada   227.0    CAN                 Canada
14     GDR           East Germany   225.0    GDR           East Germany
15     POL                 Poland   223.0    POL                 Poland
16     FIN                Finland   209.0    FIN                Finland
17     CHN                  China   193.0    CHN                  China
18     FRG           West Germany   180.0    FRG           West Germany
19     BRA                 Brazil   174.0    BRA                 Brazil
20     DEN                Denmark   152.0    DEN                Denmark
21     BEL                Belgium   150.0    BEL                Belgium
22     NOR                 Norway   144.0    NOR                 Norway
23     SUI            Switzerland   138.0    SUI            Switzerland
24     BUL               Bulgaria   136.0    BUL               Bulgaria
25     KOR           Korea, South   135.0    KOR           Korea, South
26     YUG             Yugoslavia   118.0    YUG             Yugoslavia
27     CUB                   Cuba   109.0    CUB                   Cuba
28     TCH         Czechoslovakia   105.0    TCH         Czechoslovakia
29     ESP                  Spain    92.0    ESP                  Spain
..     ...                    ...     ...    ...                    ...
108    BAR               Barbados     1.0    BAR               Barbados
109    BER               Bermuda*     1.0    BER               Bermuda*
110    DJI               Djibouti     1.0    DJI               Djibouti
111    ERI                Eritrea     1.0    ERI                Eritrea
112    GUY                 Guyana     1.0    GUY                 Guyana
113    IRQ                   Iraq     1.0    IRQ                   Iraq
114    KUW                 Kuwait     1.0    KUW                 Kuwait
115    MKD              Macedonia     1.0    MKD              Macedonia
116    MRI              Mauritius     1.0    MRI              Mauritius
117    NIG                  Niger     1.0    NIG                  Niger
118    TOG                   Togo     1.0    TOG                   Togo
119    PAR               Paraguay     NaN    PAR               Paraguay
120    PER                   Peru     NaN    PER                   Peru
121    SCG                 Serbia     NaN    SCG                 Serbia
122    NAM                Namibia     NaN    NAM                Namibia
123    SIN              Singapore     NaN    SIN              Singapore
124    HKG             Hong Kong*     NaN    HKG             Hong Kong*
125    SRI              Sri Lanka     NaN    SRI              Sri Lanka
126    TAN               Tanzania     NaN    TAN               Tanzania
127    VIE                Vietnam     NaN    VIE                Vietnam
128    ECU                Ecuador     NaN    ECU                Ecuador
129    LUX             Luxembourg     NaN    LUX             Luxembourg
130    AHO  Netherlands Antilles*     NaN    AHO  Netherlands Antilles*
131    CIV          Cote d'Ivoire     NaN    CIV          Cote d'Ivoire
132    ISV        Virgin Islands*     NaN    ISV        Virgin Islands*
133    SEN                Senegal     NaN    SEN                Senegal
134    SUD                  Sudan     NaN    SUD                  Sudan
135    TGA                  Tonga     NaN    TGA                  Tonga
136    BDI                Burundi     NaN    BDI                Burundi
137    UAE   United Arab Emirates     NaN    UAE   United Arab Emirates

            gold
      Total  NOC                Country   Total
0    1195.0  USA          United States  2088.0
1     627.0  URS           Soviet Union   838.0
2     591.0  GBR         United Kingdom   498.0
3     461.0  FRA                 France   378.0
4     350.0  GER                Germany   407.0
5     369.0  AUS              Australia   293.0
6     394.0  ITA                  Italy   460.0
7     308.0  HUN                Hungary   400.0
8     349.0  SWE                 Sweden   347.0
9     250.0  NED            Netherlands   212.0
10    187.0  ROU                Romania   155.0
11    228.0  JPN                  Japan   206.0
12    206.0  RUS                 Russia   192.0
13    211.0  CAN                 Canada   154.0
14    271.0  GDR           East Germany   329.0
15    173.0  POL                 Poland   103.0
16    118.0  FIN                Finland   124.0
17    252.0  CHN                  China   234.0
18    167.0  FRG           West Germany   143.0
19    139.0  BRA                 Brazil    59.0
20    192.0  DEN                Denmark   147.0
21    167.0  BEL                Belgium    91.0
22    199.0  NOR                 Norway   194.0
23    165.0  SUI            Switzerland    73.0
24    142.0  BUL               Bulgaria    53.0
25    191.0  KOR           Korea, South   140.0
26    174.0  YUG             Yugoslavia   143.0
27    126.0  CUB                   Cuba   160.0
28    144.0  TCH         Czechoslovakia    80.0
29    193.0  ESP                  Spain    92.0
..      ...  ...                    ...     ...
108     NaN  BAR               Barbados     NaN
109     NaN  BER               Bermuda*     NaN
110     NaN  DJI               Djibouti     NaN
111     NaN  ERI                Eritrea     NaN
112     NaN  GUY                 Guyana     NaN
113     NaN  IRQ                   Iraq     NaN
114     NaN  KUW                 Kuwait     NaN
115     NaN  MKD              Macedonia     NaN
116     NaN  MRI              Mauritius     NaN
117     NaN  NIG                  Niger     NaN
118     NaN  TOG                   Togo     NaN
119    17.0  PAR               Paraguay     NaN
120    14.0  PER                   Peru     1.0
121    14.0  SCG                 Serbia     NaN
122     4.0  NAM                Namibia     NaN
123     4.0  SIN              Singapore     NaN
124     2.0  HKG             Hong Kong*     1.0
125     2.0  SRI              Sri Lanka     NaN
126     2.0  TAN               Tanzania     NaN
127     2.0  VIE                Vietnam     NaN
128     1.0  ECU                Ecuador     1.0
129     1.0  LUX             Luxembourg     1.0
130     1.0  AHO  Netherlands Antilles*     NaN
131     1.0  CIV          Cote d'Ivoire     NaN
132     1.0  ISV        Virgin Islands*     NaN
133     1.0  SEN                Senegal     NaN
134     1.0  SUD                  Sudan     NaN
135     1.0  TGA                  Tonga     NaN
136     NaN  BDI                Burundi     1.0
137     NaN  UAE   United Arab Emirates     1.0

[138 rows x 9 columns]

## Resampling & concatenating DataFrames with inner join

In this exercise, you'll compare the historical 10-year GDP (Gross Domestic Product) growth in the US and in China. The data for the US starts in 1947 and is recorded quarterly; by contrast, the data for China starts in 1966 and is recorded annually.

You'll need to use a combination of resampling and an inner join to align the index labels. You'll need an appropriate offset alias for resampling, and the method .resample() must be chained with some kind of aggregation method (.pct_change() and .last() in this case).

pandas has been imported as pd, and the DataFrames china and us have been pre-loaded, with the output of china.head() and us.head() printed in the IPython Shell.

INSTRUCTIONS

Make a new DataFrame china_annual by resampling the DataFrame china with .resample('A') (i.e., with annual frequency) and chaining two method calls:
Chain .pct_change(10) as an aggregation method to compute the percentage change with an offset of ten years.
Chain .dropna() to eliminate rows containing null values.
Make a new DataFrame us_annual by resampling the DataFrame us exactly as you resampled china.
Concatenate china_annual and us_annual to construct a DataFrame called gdp. Use join='inner' to perform an inner join and use axis=1 to concatenate horizontally.
Print the result of resampling gdp every decade (i.e., using .resample('10A')) and aggregating with the method .last(). This has been done for you, so hit 'Submit Answer' to see the result!

In [123]:
china = pd.read_csv("gdp_china.csv")

In [ ]:
# Resample and tidy china: china_annual
china_annual = china.resample('A').pct_change(10).dropna()

# Resample and tidy us: us_annual
us_annual = us.resample('A').pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual, us_annual], join='inner', axis=1)

# Resample gdp and print
print(gdp.resample('10A').last())